html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #185eba;
}
.content {
  background: #f9fafa;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 16px;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #2c2f48;
  position: relative;
  margin-bottom: 1.2rem;
}

.section-title::after {
  content: "";
  display: flex;
  height: 3px;
  background-color: #2c4ee6;
  margin-top: 0.3rem;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.description {
  color: #555;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}