html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #185eba;
}
.container{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #515de4;
    margin: 0;
}
.judul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
}
.nav-link {
 display: flex;
  justify-content: center;
  gap: 1.5rem;

}
.nav-link a {
  background-color: rgba(199, 198, 211, 0.2);
  padding: 20px 25px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link a:hover,
.nav-link a.active {
  background-color: rgb(235, 232, 232);
  color: #2c4ee6;
}

.content {
  background: #f9fafa;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 16px;
  margin-left: 40px;
  margin-right: 40px;
  height: 75%;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #2c2f48;
  position: relative;
  margin-bottom: 1.2rem;
}

.section-title::after {
  content: "";
  display: flex;
  height: 3px;
  background-color: #2c4ee6;
  margin-top: 0.3rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.welcome-box {
  background: white;
  display: inline-block;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.welcome-text {
  color: #1e63d9;
  font-weight: bold;
  font-size: 20px;
}


.intro {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.description {
  color: #555;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
